<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charaset="UTF-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
        <title>{% block title%}Road Accident Statistics{% endblock%}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        </head>
        <body>
            <header>
                <h1>Road Accident Staistics</h1>
            </header>
            <nav>
                <a href="/">Home</a>
            </nav>
            <main>
                {% block content%}
                {% endblock %}
            </main>
        </body>
</html>