{% extends "base.html"%}
{% block content%}
<h1>Accident Statistics</h1>
<table border="1">
    <tr>
        <th>Accident ID</th>
        <th>Time of Day</th>
        <th>Number of Accidents</th>
        <th>Severity</th>
        <th>Cause</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{row["Accident_ID"]}}</td>
        <td>{{row["Time_of_Day"]}}</td>
        <td>{{row["Number_of_Accidents"]}}</td>
        <td>{{row["Severity"]}}</td>
        <td>{{row["Cause"]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
