<!DOCTYPE html>
<html>
    <head>
        <title>Accident Statistics</title>
    </head>
    <body>
        <h1>Accident Statistics</h1>title>
        <h2>Severity Distribution</h2>
        <img src="{{url_for('static',filename='pie_chart.png')}}"
        width="500">
        <h2>Time of day vs Number of Accidents</h2>
        <img src="{{url_for('static',filename='scatter_plot.png')}}"
        width="500">
        <h2>Accidents by Type</h2>
        <img src="{{url_for('static',filename='bar_chart.png')}}"
        width="500">
        </body>
        </html>